// Specific CSS for your home-page
body {
  color: white;
}

a, p {
  text-decoration: none;
}

h1, h2, h3, h5 {
  font-weight: bolder;
}

h1 a {
  color: $main3;
}

.form-control, .form-select, label {
  color: white !important;
}
