.card {
  border: none;
}

#lists {
  .card-body {
    padding: 0;
    color: white;
    opacity: .6;
  }
  .card {
    margin: 1rem;
  }

  overflow-x: auto;
  max-width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}


#movies {
  .card {
    color: white;
  }
  .card-title {
    font-weight: bolder;
    margin-right: 4px;
  }

  #overview, #rating {
    font-size: 14px;
    opacity: .6;
  }

  #rating {
    margin-top: 3px;
  }

  a {
    color: white;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:.5rem;
}

#reviews {
  height: 200px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.mini-form {
  min-width: 15rem;
  width: 18rem;
  height: fit-content;
}
